@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

@theme {
  --color-black: #09090A;
  --color-transparent-black: rgba(9, 9, 10, 0);
  --color-opaque-black: rgba(27, 27, 27, 80%);
  --color-dark-blue: #001D3D;
  --color-blue: #003B7A;
  --color-white: #F3EFF5;
  --color-gray: #747474;
  --color-dark-gray: rgba(20, 20, 20);
  --color-green: #0F0;
}
