@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

@theme {
  --color-black: #09090A;
  --color-transparent-black: rgba(9, 9, 10, 0);
  --color-white: #F3EFF5;
  --color-gray: #747474;
  --color-green: #0F0;
}
